{% extends 'base/base.html' %}

{% block content %}
<div class="pure-u-1-3"></div>
<section class="pure-u-1-3">
  <h1>Hello</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra nisi ut varius sollicitudin. Nulla hendrerit euismod nisi ac euismod. Mauris a lobortis mi. Duis vehicula porta sapien non vulputate. Ut quis risus euismod, accumsan diam ut, cursus ipsum. Nam aliquam nunc ac vulputate tincidunt. Cras nec tortor lobortis, ultricies neque at, tempus augue. Nam luctus diam non condimentum imperdiet. Proin iaculis orci vitae dignissim porttitor. Praesent vitae mi pretium, tristique ex et, dictum nunc. Aliquam vitae feugiat sapien, pulvinar dictum libero. Vestibulum in velit sit amet justo sollicitudin elementum. Aliquam dapibus posuere magna, vel fringilla odio dapibus mattis. Suspendisse id nibh sem.</p>
</section>
<div class="pure-u-1-3"></div>
{% endblock%}
